.idea/workspace.xml
.idea/deployment.xml
.idea/libraries/servlet_api.xml
out/artifacts/
.idea/compiler.xml
.idea/deployment.xml
.idea/misc.xml
.idea/vcs.xml
.idea/webServers.xml
copyright/profiles_settings.xml
.idea/artifacts/ShareMyChart_war_exploded.xml