/* CSS for the bar graph*/
.bar {
    fill: #6F257F;
}
.axis path,
.axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.x path {
    display: none;
}

.bar:hover{
fill: black;
}
/*
.axis--x path {
    display: none;
}
*/